/** Configured For Applets **/

configuration {
  modi: "window,run,ssh,combi";
  show-icons:         true;
  icon-theme:         "Papirus";
  location: 5;
  yoffset: -50;
  xoffset: -20;
  combi-hide-mode-prefix: true;
}
